In [33]:
import pandas as pd
import os

In [34]:
df = pd.read_excel('saleslistasoj.xlsx')

In [35]:
df.head(20)

,Bhole Baba Order Suppliers,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,List of Sales Vouchers,NaN,NaN,NaN,NaN,NaN
1,Voucher Series : Main,NaN,NaN,From 1-6-2078 to 31-6-2078,NaN,NaN
2,Date,Vch/Bill No,Particulars,Item Details,Qty.,Unit
3,01-06-2078,373,Dipak & Nabin Suppliers,Swastik RefineSoyabean Oil 1/2 Ltr Pouch,50,Carton
4,NaN,,,Suji 1/2*40,5,Sack
5,NaN,,,Soap Amar 300,25,Carton
6,NaN,,,Atta 5kgs,50,Sack
7,NaN,,,Sugar,5,Sack
8,NaN,,,Maida 50 Kg,2,Sack
9,01-06-2078,374,Dipak & Nabin Suppliers,Masino Chamal 25kgs,10,Sack
10,NaN,,,Chyura 10 kg,5,Sack
11,NaN,,,Mass Daal 30kgs,1,Sack
12,01-06-2078,375,Bijayeswori Bhada Pasal,Atta 5kgs,10,Sack
13,NaN,,,Swastik RefineSoyabean Oil 1/2 Ltr Pouch,20,Carton
14,01-06-2078,376,Bijayeswori Bhada Pasal,Chana 25 kgs,1,Sack
15,01-06-2078,377,Sunita Fancy Store,Swastik RefineSoyabean Oil 1/2 Ltr Pouch,50,Carton
16,NaN,,,Wai Wai Noodles Ch 75gm,70,Carton
17,NaN,,,Milk Cream Biscuits,10,Carton
18,NaN,,,Chiyapan Time Biscuits,10,Carton
19,NaN,,,Twinkle Jar,6,Carton

### Formatting data to proper identifiers

In [36]:
### Renaming columns properly
df_new = df.rename(columns={ 'Bhole Baba Order Suppliers': 'Date', 'Unnamed: 1': 'Vch/Bill No', 'Unnamed: 2': 'Particulars', 'Unnamed: 3': 'Item Details',  'Unnamed: 4': 'Qty', 'Unnamed: 5': 'Unit'})
df_new = df_new[3:]
df_new.head(6)

,Date,Vch/Bill No,Particulars,Item Details,Qty,Unit
3,01-06-2078,373,Dipak & Nabin Suppliers,Swastik RefineSoyabean Oil 1/2 Ltr Pouch,50,Carton
4,NaN,,,Suji 1/2*40,5,Sack
5,NaN,,,Soap Amar 300,25,Carton
6,NaN,,,Atta 5kgs,50,Sack
7,NaN,,,Sugar,5,Sack
8,NaN,,,Maida 50 Kg,2,Sack

In [37]:
# Saving file by removing index
if os.path.exists('formattedData.xlsx'):
    os.remove('formattedData.xlsx')
    print('old file deleted and new one created!')
df_new.to_excel('formattedData.xlsx', index=False)

old file deleted and new one created!

In [101]:
#reading the df from new file
#converting to proper datatypes
df = pd.read_excel('formattedData.xlsx', dtype = {'Item Details': 'string', 'Qty': 'float', 'Unit': 'string', 'Vch/Bill No': 'string', 'Particulars': 'string', 'Date': 'string' })
df.dtypes

Date             string
Vch/Bill No      string
Particulars      string
Item Details     string
Qty             float64
Unit             string
dtype: object

### Data Cleaning -- Vch/Bill No, Particulars, Date

In [102]:
#Vch/Bill No
df['Date'] = df['Date'].str.replace(' ', 'd') 
df['Particulars'] = df['Particulars'].str.replace(' ', 'p')   #replace Particulars whitespace with a
df['Vch/Bill No'] = df['Vch/Bill No'].str.replace(' ', 'v')   #replace whitespace with v
df['Date'].fillna('d', inplace=True)   
df['Particulars'].fillna('p', inplace=True)                   #replace null with a
df['Vch/Bill No'].fillna('v', inplace=True)                   #replace null with v
df.tail(10)

,Date,Vch/Bill No,Particulars,Item Details,Qty,Unit
970,d,v,p,Jar Tail,3.0,Carton
971,d,v,p,Swastik Brand Mustard Oil 2ltr jar,4.0,Carton
972,d,v,p,Sugar,6.0,Sack
973,d,v,p,Orange Lollipop Rs 2,1.0,Carton
974,d,v,p,Bubbly Strawberry,1.0,Carton
975,d31-06-2078d,631,DippJyotipKiranapPasal,Mota Chamal30kg,100.0,Sack
976,d,v,p,Hb Chamal 30kgs,10.0,Sack
977,d,v,p,Imp. Steam Rice (param Sukh) 25kgs,10.0,Sack
978,d,v,p,<NA>,NaN,<NA>
979,d,v,p,Totals,26004.0,<NA>

In [103]:
#replaces all 's', 'v' with values from previous entry of Vch/Bill No, Particulars
# getting the count of number of rows
a = len(df.index)

In [104]:
df.tail(15)

,Date,Vch/Bill No,Particulars,Item Details,Qty,Unit
965,d,v,p,Imp. Steam Rice (param Sukh) 25kgs,25.0,Sack
966,d31-06-2078d,628,GobindapEnterprises,Sugar,10.0,Sack
967,d31-06-2078d,629,GobindapEnterprises,Mota Chamal30kg,70.0,Sack
968,d,v,p,Imp. Steam Rice (param Sukh) 25kgs,70.0,Sack
969,d31-06-2078d,630,DippJyotipKiranapPasal,Swastik RefineSoyabean Oil 1/2 Ltr Pouch,8.0,Carton
970,d,v,p,Jar Tail,3.0,Carton
971,d,v,p,Swastik Brand Mustard Oil 2ltr jar,4.0,Carton
972,d,v,p,Sugar,6.0,Sack
973,d,v,p,Orange Lollipop Rs 2,1.0,Carton
974,d,v,p,Bubbly Strawberry,1.0,Carton
975,d31-06-2078d,631,DippJyotipKiranapPasal,Mota Chamal30kg,100.0,Sack
976,d,v,p,Hb Chamal 30kgs,10.0,Sack
977,d,v,p,Imp. Steam Rice (param Sukh) 25kgs,10.0,Sack
978,d,v,p,<NA>,NaN,<NA>
979,d,v,p,Totals,26004.0,<NA>

#### Date

In [105]:
for i in range(0,a):
    if df['Date'][i] == "d" and pd.isna(df['Unit'][i]) == True:
        df['Date'][i] = None
        i= i +1
    elif df['Date'][i] == "d" and pd.isna(df['Unit'][i]) != True:
        df['Date'][i] = hemp
        i= i +1
    else:
        hemp = df['Date'][i]
        i = i +1

#removing additional d from start and end of string in Date column
df['Date'] = df['Date'].str.strip('d')

#### Vch/Bill No

In [106]:
for i in range(0,a):
    if df['Vch/Bill No'][i] == "v" and pd.isna(df['Unit'][i]) == True:
        df['Vch/Bill No'][i] = None
        i= i +1
    elif df['Vch/Bill No'][i] == "v" and pd.isna(df['Unit'][i]) != True:
        df['Vch/Bill No'][i] = hemp
        i= i +1
    else:
        hemp = df['Vch/Bill No'][i]
        i = i +1  
#checking against Partculars column to remove the excess BIll no at the end of the file
df.tail(8)

,Date,Vch/Bill No,Particulars,Item Details,Qty,Unit
972,31-06-2078,630,p,Sugar,6.0,Sack
973,31-06-2078,630,p,Orange Lollipop Rs 2,1.0,Carton
974,31-06-2078,630,p,Bubbly Strawberry,1.0,Carton
975,31-06-2078,631,DippJyotipKiranapPasal,Mota Chamal30kg,100.0,Sack
976,31-06-2078,631,p,Hb Chamal 30kgs,10.0,Sack
977,31-06-2078,631,p,Imp. Steam Rice (param Sukh) 25kgs,10.0,Sack
978,<NA>,<NA>,p,<NA>,NaN,<NA>
979,<NA>,<NA>,p,Totals,26004.0,<NA>

#### Particulars

In [108]:
for i in range(0,a):
    if df['Particulars'][i] == "p" and pd.isna(df['Unit'][i]) == True:
        df['Particulars'][i] = None
        i= i +1
    elif df['Particulars'][i] == "p" and pd.isna(df['Unit'][i]) != True:
        df['Particulars'][i] = hemp
        i= i +1
    else:
        hemp = df['Particulars'][i]
        i = i +1  
#checking against Partculars column to remove the excess BIll no at the end of the file
df.tail(8)

TypeError: boolean value of NA is ambiguous

In [92]:
#creating a second file formatted2.xlsx
if os.path.exists('formatteddata2.xlsx'):
    os.remove('formatteddata2.xlsx')
    print('old file deleted and new one created!')
df.to_excel('formatteddata2.xlsx', index=False)

old file deleted and new one created!

In [93]:
new_df = pd.read_excel('formatteddata2.xlsx', dtype = {'Item Details': 'string', 'Qty': 'float', 'Unit': 'string', 'Vch/Bill No': 'string', 'Particulars': 'string', 'Date': 'string' })

In [94]:
new_df

,Date,Vch/Bill No,Particulars,Item Details,Qty,Unit
0,01-06-2078,373,Dipakp&pNabinpSuppliers,Swastik RefineSoyabean Oil 1/2 Ltr Pouch,50.0,Carton
1,01-06-2078,373,Dipakp&pNabinpSuppliers,Suji 1/2*40,5.0,Sack
2,01-06-2078,373,Dipakp&pNabinpSuppliers,Soap Amar 300,25.0,Carton
3,01-06-2078,373,Dipakp&pNabinpSuppliers,Atta 5kgs,50.0,Sack
4,01-06-2078,373,Dipakp&pNabinpSuppliers,Sugar,5.0,Sack
...,...,...,...,...,...,...
975,31-06-2078,631,DippJyotipKiranapPasal,Mota Chamal30kg,100.0,Sack
976,31-06-2078,631,DippJyotipKiranapPasal,Hb Chamal 30kgs,10.0,Sack
977,31-06-2078,631,DippJyotipKiranapPasal,Imp. Steam Rice (param Sukh) 25kgs,10.0,Sack
978,<NA>,<NA>,<NA>,<NA>,NaN,<NA>
979,<NA>,<NA>,<NA>,Totals,26004.0,<NA>

In [95]:
# concatenating Item Details column entries grouping by date, vch, particulars
temp_df_item = new_df.groupby(['Date', 'Vch/Bill No', 'Particulars'])['Item Details'].apply(', '.join).reset_index()
temp_df_item

,Date,Vch/Bill No,Particulars,Item Details
0,01-06-2078,373,Dipakp&pNabinpSuppliers,"Swastik RefineSoyabean Oil 1/2 Ltr Pouch, Suji..."
1,01-06-2078,374,Dipakp&pNabinpSuppliers,"Masino Chamal 25kgs, Chyura 10 kg, Mass Daal 3..."
2,01-06-2078,375,BijayesworippBhadapPasal,"Atta 5kgs, Swastik RefineSoyabean Oil 1/2 Ltr ..."
3,01-06-2078,376,BijayesworippBhadapPasal,Chana 25 kgs
4,01-06-2078,377,SunitapFancypStore,"Swastik RefineSoyabean Oil 1/2 Ltr Pouch, Wai ..."
...,...,...,...,...
249,31-06-2078,627,SalyanipKhadkapStore,"Mota Chamal30kg, Imp. Steam Rice (param Sukh) ..."
250,31-06-2078,628,GobindapEnterprises,Sugar
251,31-06-2078,629,GobindapEnterprises,"Mota Chamal30kg, Imp. Steam Rice (param Sukh) ..."
252,31-06-2078,630,DippJyotipKiranapPasal,"Swastik RefineSoyabean Oil 1/2 Ltr Pouch, Jar ..."
253,31-06-2078,631,DippJyotipKiranapPasal,"Mota Chamal30kg, Hb Chamal 30kgs, Imp. Steam R..."

In [96]:
# concatenating Unit also removing duplicates in that cell
temp_df_unit = new_df.groupby(['Date', 'Vch/Bill No', 'Particulars'])['Unit'].apply(', '.join).reset_index()
temp_df_unit['Unit'] = temp_df_unit['Unit'].str.split(', ').apply(set).str.join(', ')
temp_df_unit

           Date Vch/Bill No               Particulars          Unit
0    01-06-2078         373   Dipakp&pNabinpSuppliers  Sack, Carton
1    01-06-2078         374   Dipakp&pNabinpSuppliers          Sack
2    01-06-2078         375  BijayesworippBhadapPasal  Sack, Carton
3    01-06-2078         376  BijayesworippBhadapPasal          Sack
4    01-06-2078         377        SunitapFancypStore        Carton
..          ...         ...                       ...           ...
249  31-06-2078         627      SalyanipKhadkapStore          Sack
250  31-06-2078         628       GobindapEnterprises          Sack
251  31-06-2078         629       GobindapEnterprises          Sack
252  31-06-2078         630    DippJyotipKiranapPasal  Sack, Carton
253  31-06-2078         631    DippJyotipKiranapPasal          Sack

[254 rows x 4 columns]

In [97]:
# getting the resultant sum of QTY from grouped by date, vch, particulars
temp_df_qty = new_df.groupby(['Date', 'Vch/Bill No', 'Particulars'], as_index=False).sum('Qty')
temp_df_qty

           Date Vch/Bill No               Particulars    Qty
0    01-06-2078         373   Dipakp&pNabinpSuppliers  137.0
1    01-06-2078         374   Dipakp&pNabinpSuppliers   16.0
2    01-06-2078         375  BijayesworippBhadapPasal   30.0
3    01-06-2078         376  BijayesworippBhadapPasal    1.0
4    01-06-2078         377        SunitapFancypStore  166.0
..          ...         ...                       ...    ...
249  31-06-2078         627      SalyanipKhadkapStore  275.0
250  31-06-2078         628       GobindapEnterprises   10.0
251  31-06-2078         629       GobindapEnterprises  140.0
252  31-06-2078         630    DippJyotipKiranapPasal   23.0
253  31-06-2078         631    DippJyotipKiranapPasal  120.0

[254 rows x 4 columns]

### Joining above 3 DF - Qty, Unit and Item Details into a single DF

In [98]:
tempdf1 = temp_df_item.merge(temp_df_unit, on=['Date', 'Vch/Bill No', 'Particulars'])
tempdf2 = tempdf1.merge(temp_df_qty, on=['Date', 'Vch/Bill No', 'Particulars'])
tempdf2

,Date,Vch/Bill No,Particulars,Item Details,Unit,Qty
0,01-06-2078,373,Dipakp&pNabinpSuppliers,"Swastik RefineSoyabean Oil 1/2 Ltr Pouch, Suji...","Sack, Carton",137.0
1,01-06-2078,374,Dipakp&pNabinpSuppliers,"Masino Chamal 25kgs, Chyura 10 kg, Mass Daal 3...",Sack,16.0
2,01-06-2078,375,BijayesworippBhadapPasal,"Atta 5kgs, Swastik RefineSoyabean Oil 1/2 Ltr ...","Sack, Carton",30.0
3,01-06-2078,376,BijayesworippBhadapPasal,Chana 25 kgs,Sack,1.0
4,01-06-2078,377,SunitapFancypStore,"Swastik RefineSoyabean Oil 1/2 Ltr Pouch, Wai ...",Carton,166.0
...,...,...,...,...,...,...
249,31-06-2078,627,SalyanipKhadkapStore,"Mota Chamal30kg, Imp. Steam Rice (param Sukh) ...",Sack,275.0
250,31-06-2078,628,GobindapEnterprises,Sugar,Sack,10.0
251,31-06-2078,629,GobindapEnterprises,"Mota Chamal30kg, Imp. Steam Rice (param Sukh) ...",Sack,140.0
252,31-06-2078,630,DippJyotipKiranapPasal,"Swastik RefineSoyabean Oil 1/2 Ltr Pouch, Jar ...","Sack, Carton",23.0
253,31-06-2078,631,DippJyotipKiranapPasal,"Mota Chamal30kg, Hb Chamal 30kgs, Imp. Steam R...",Sack,120.0

In [99]:
#tempdf2.to_excel('output_file.xlsx', index=False)
if os.path.exists('final_output.xlsx'):
    os.remove('final_output.xlsx')
    print('old file deleted and new one created!')
tempdf2.to_excel('final_output.xlsx', index=False)

old file deleted and new one created!